html {
    font-size: 15px;
  }
  
  body {
    background: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(#171220),
        to(#171220)
      )
      fixed;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .card {
    background-color: #118ba1;
  }
  .card-body,
  ul {
    background-color: rgb(62, 182, 92);
    min-height: 0px;
  }
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .list-item {
    color: rgb(4, 4, 12);
  }
  .list-group-item {
    background-color: inherit;
    border: none;
  }
  .under-list-item {
    font-size: 0.9rem;
  }
  .under-list-item .list-group-item {
    color: rgb(12, 5, 5);
  }
  
  .under-list-input input {
    height: calc(1em + 0.75rem);
  }
  
  .line-throught {
    text-decoration: line-through;
  }